# While Loop

In [ ]:
While loop adalah metode perulangan dimana ada kondisi yang harus dipenuhi agar looping bisa terus berjalan.
While loop akan selalu dieksekusi selama nilainya True dan akan berhenti saat menjadi False.

In [ ]:
#Kasus 1
a=0   #Loop dimulai dari a=0 sampai seterusnya hingga pernyataan a<5 bernilai false 
while a<5:
    #a dikuadratkan
    a=a**2
    #hasil a yang dikuadratkan ditambah dengan 1
    a=a+1
    #hasil a yang sudah ditambah 1 akan kembali diloop
print (a)  #hasil akan diprint ketika loop sudah berhenti, yaitu saat pernyataan 'a<5' bernilai false.

In [ ]:
#Kasus 2
x=0  #loop dimulai dari x=0 
while x>2:
# nilai x dimulai dari 0, namun x=0 tidak memenuhi pernyataan x>2
    y=x**2
    x=x-1
#sehingga angka nol lah yang akan diprint oleh sistem
print (x)

In [ ]:
#Kasus 3
x=-6  #loop dimulai dari x=-6 
while x>-10:
    x=x-1 #x akan dikurangi 1
    print (x)

In [ ]:
#Kasus 4
a=0
while a<5:
    #menyisipkan kalimat tambahan pada while loop sebagai pelengkap
    print ("Angka "+str(a)+" masih di bawah 5")
    #a akan terus diloop sampai menyalahi pernyataan 'a<5'
    a+=1

In [ ]:
#Kasus 5
buah=['manggis, jeruk,apell']
i=0  #i dimulai dari angka 0
while i<len (buah):  #jika i<3, maka harus memenuhi perintah print
    print (buah[i])
    i+=1  #lalu i ditambah 1 dan akan diloop kembali ke sistem

In [1]:
#PERNYATAAN BREAK
#dengan pernyaatn break, kita dapat menghentikan loop walaupun kondisi while maish bersifat True
i=1
while i<6:
    print (i)
    if i==3:  #di saat i=3, maka loop akan berhenti beroperasi
        break
    i+=1  #dan menampilkan angka dimana loopnya belum berhenti
    
#contoh kasus di atas juga dapat dibuat menjadi seperti ini:
i=1
while i<4:
    print (i)
    i+=1
#hasilnya akan sama saja

1
2
3
1
2
3

In [2]:
#PERNYATAAN CONTINUE
#dengan pernyataan continue ini, kita dapat menghentikan iterasi dan melanjutkan yang selanjutnya
i=0
while i<5:
    i+=1
    if i==3:    #menghentikan bila i=3, lalu melanjutkan sistem untuk angka selanjutnya yaitu 4
        continue
    print (i)

1
2
4
5

In [3]:
#PERNYATAAN ELSE
#dengan pernyataan ini, kita dapat menjalankan kode blok ketika kondisi tidak lagi bernilai True
i=1
while i<5: #dijalankan saat masih memenuhi kondisi
    print (i)
    i+=1
else: #dijalankan saat sudah tidak memenuhi kondisi
    print ('i tidak lagi bernilai lebih kecil dari 6')  #ketika i tidak bernilai<6 maka akan tercetak kalimat ini

1
2
3
4
i tidak lagi bernilai lebih kecil dari 6

# List di Phyton

In [ ]:
List phyton merespon operator + dan * seperti string, artinya penggabungan dan pengulangan di list phyton berlaky, kecuali 
hasilnya adalah list baru.

In [ ]:
#CONTOH OPERASI DASAR LIST PHYTON

print (len ([1,2,5,6])) #menghitung banyak elemen menggunakan len
print ([2,-6,0,9]+[0,1]) # menggabungkan isi dari 2 list berbeda
print ([3*'*'])  #mengalikan 3 dengan bintang, sehaingga hasilnya akan mencetak bintang sebanyak 3 kali
3 in ([1,2,33,4,4,7]) #Menguji keanggotaan dari elemen 3
for x in [1,2,3]:     #mencetak elemen yang ada pada list
                      #x menampung indeks, 
    print (x, end=" ") #setelah mencetak x, maka diberikan spasi

In [ ]:
#CONTOH 1 LIST PHYTON
vektor_a=[1,2,3,4] #deklarasi dari vektor a
vektor_b=[5,6,7,8] #deklarasi dari vektor b
vektor=vektor_a+vektor_b  #penjumlahan vektor1 dan 2 berarti menggabungkan isi dari kedua vektor tersebut 
print (vektor)
print (vektor_a)
print (vektor_b)

#replace anggota 'vektor' dengan angka lain
vektor[0]=45 #vektor[0] seharusnya adalah angka1, namun akan diganti dengan angka 45
print (vektor)
vektor [1]=4 #vektor [1] seharusnya adalah angka 2, namun akan diganti dengan angka 4
print (vektor)

#menambahkan elemen dari list yang berbeda
list1.extend(list2) #list1 mendapat elemen tambahan yang merupakan anggota dari list2
print (list1)

In [ ]:
#CONTOH 2 LIST PHYTON
buah=['mangga', 'pisang', 'rambutan','durian']
print (buah) #Print isi dari buah

print (buah[0]) #print buah dengan index ke-0, yaitu mangga
print (buah[1]) #print buah dengan index ke-1, yaitu pisang
print (buah[2]) #print buah dengan index ke-2, yaitu rambutan
print (buah[3]) #print buah dengan index ke-3, yaitu durian
print (buah[-1])#print buah dengan index -1 atau index ke-3, yaitu durian
print (buah[-3:-1]) #Print buah dari index -3 sampai -1 (index -1 tidak ditulis) atau index 1 ke 3 (index3 tidak ditulis), 
                    #yaitu pisang dan rambutan
print (buah [0]+' dan '+buah [1]+' adalah buah favorit Selena Gomez') #menyisipkan kalimat pada penggunaan list phyton 
                                                                        #sebagai pemanis

In [ ]:
#mengganti anggota dengan kata lain
buah[0]="salak" #seharusnya mangga, digantikan dengan salak
print (buah)

#mengganti seluruh anggota buah dengan yang lain
buah[3]='permen' #mengganti kata durian dengan permen
buah [0]='lidah buaya' #mengganti lagi yang awalnya salak menjadi lidah buaya
buah[1]='kacang' #mengganti kata pisang dengan kacang
buah [2]="lolipop" #mengganti kata rambutan dengan lolipop
print (buah)

#menguji true atau false himpunan buah
print (buah[1:3]=='ayam goreng') #kode di samping seperti menanyakan apkah dari buah indeks ke1-3 terdapat kata ayam goreng? 
                                    #namun, jawabannya adalah tidak, sehingga false
print (buah[2]=="seblak") #jawaban false karena tidak terdapat kata seblak pada buah indeks ke2
print (buah[0]=='lidah buaya')#jawaban true karena buah indeks ke0 adalah lidah buaya

In [ ]:
#CONTOH 3 LIST PHYTON
#Berikut adalah beberapa anggota dari aplikasi yang sedang populer di Indonesia
A= ['Instagram', 'Twitter', 'Line', 'Whatsapp']
print (A[1]) #pemanggilan A index ke1
print (A[1:3]) #pemanggilan A index ke1 sampai 3
print (A[0:3]) #pemanggilan A index ke 0 sampai 3
print ('Berikut adalah beberapa aplikasi populer yang ada di Indonesia '+ str( A)) #Mencetak dari penyisipan kalimat digabung
                                                                                    #dengan list yang dideklarasikan
#CONTOH 4 LIST PHYTON
minuman=['air putih','coca cola','infused water','jus buah']
if 'jus buah' in minuman:  #untuk menentukan apakah item ini ada di list
    print("Ya, Jus buah termasuk dalam list minuman")

In [ ]:
#CARA MENGAKSES NILAI DALAM LIST PHYTON
list1=['fisika','matematika','kimia','biologi','seni budaya'] #deklarasi isi list1
list2= [1,2,3,4,5,6,7] #deklarasi isi dari list2
print ("list1[0]: ",list1[0]) #menambahkan kalimat pada pemanggilan list1[0]
print ("list2[5]: ",list2[5]) #penambahan kalimat pada pemanggilan list2[5]
print ("Nilai rata-rata ujian fisika di kelas 3A adalah ", list2[5]) #contoh kalimat lain untuk pemanggilan list2[5]


#CARA HAPUS NILAI DALAM LIST PHYTON
#dapat menggunakan del jika sudah menentukan elemen yang nantinya akan dihapus
#dapat menggunakan remove jika belum menentukan elemen yang akan dihapus
print (list1)
del list1[2] #hanya menghapus index ke2 
print (list1.clear()) #menghapus list sepenuhnya

# Metoda List

In [ ]:
Karena list merupakan objek, maka keberadaannya dapat dimanipulasi dengan menambahkan atau menghilangkan isinya.

In [ ]:
#CONTOH 1 METODE LIST
#membuat suatu list bernama nama_29  
nama_29=["Vanessa"," Made"," Dewi", "Komang"]
nama_29.append ('Komang') #menambahkan sebuah kata, dimana kata yang sama sudah ada di dalam list
print (nama_29) #sehingga hasilnya akan memiliki 2 kata yang sama


#menyisipkan suatu kata di dalam list
nama_29.insert(0,'Dewi')  #menyisipkan index ke0 dengan kata Dewi
print (nama_29) #nama Dewi akan menjadi elemen pertama di dalam list, tidak mengubah elemen lainnya


#menghilangkan suatu anggota dalam list
nama_29.remove ('Vanessa') #Menghilangkan kata Vanessa yang ada dalam list, tepatnya di index ke1
print (nama_29) #kata Vanessa akan hilang, sehingga kata MAde menggantikan posisinya, begitu juga elemen lain di belakangnya


#mencetak suatu kata (bila tidak terdapat di dalam list, maka akan bernilai false)
print ('Eka'in nama_29) #Apakah nama eka ada di dalam list? Tidak
print ('Komang' in nama_29) #Nama Komang terdapat di dalam list

In [ ]:
#CONTOH 2 METODE LIST
warna_favorit=['pink','peach','cream','black','white']

#menghitung berapa banyak anggota dalam list warna favorit
print (len(warna_favorit)) #list warna favorit memiliki 5 anggota

#Membalik urutan list
warna_favorit.reverse()
print (warna_favorit) #yang terprint adalah elemen yang terakhir hingga paling awal

#mengurutkan list
warna_favorit.sort() #pengurutan dilakukan berdasarkan alfabet paling awal hingga akhir
print (warna_favorit)

In [ ]:
#CONTOH 3 METODE LIST
nilai_29= [45,89,65,90,79,85,78,81,95]
#List di atas adalah list yang berisi kumpulan nilai anak-anak yang melakukan remidi UAS
#namun ternyata ibu guru lupa menambahkan nilai si Tono, sehingga Ibu menambahkan nilainya sbb:
nilai_29.append(75) #nilai Tono adalah 75
print(nilai_29)

#untuk membuat peringkat nilai remidi anak-anak, ibu guru meranking dengan cara berikut
nilai_29.sort() #pengurutan angka dimulai dari angka terkecil hingga terbesar
print (nilai_29)

#setelah mendapat peringkat, data ini tidak diperlukan lagi sehingga ibu guru ingin menghapus list ini
nilai_29.clear()
print (nilai_29) #sehingga data list sudah seluruhnya dihapus

# For Loop

In [ ]:
Untuk memanggil semua isi list

In [ ]:
#CONTOH 1 FOR LOOP
makanan_29=['seblak','pink tempong','carbonara','kwetiaw siram']
for jenis in makanan_29: #jenis adalah variabel yang menampung index dalam list
    print (makanan_29[1]*2)      #setiap index yang ada dalam list diprint

In [ ]:
#CONTOH 2 FOR LOOP
for i in [0,1,2,3,4]: #untuk setiap i dalam list
    y=i**2    #i dikuadratkan lalu dilambangkan dengan y
    print (y)

for i in [0,1,2,3,4]:
    i+=2
    print (i, end=" ") #diberi tanda spasi setelah mencetak i

In [ ]:
#CONTOH 3 FOR LOOP
buah=['manggis','srikaya','apel','delima']
#mencoba menulis variabel random dengan nama saya Vanessa
for vanessa in range (len(buah)): 
    print (buah[vanessa])

In [ ]:
#CONTOH 4 FOR LOOP

#secara default, data input itu bersifat string sehingga perlu data integer
#karena variabel tinggi segitiga 29 akan dipakai dalam perulangan
#fungsi int akan mengubah nilai input string menjadi int

tinggi_segitiga_29= int (input ('Masukkan tinggi segitiga= '))
print ()

for i in range (1,tinggi_segitiga_29+1):
    for j in range (i):
        #spasi setelah i bertujuan agar angka tidak berdempet satu sama lain
        print (i,' ',end=' ',sep=' ')
    #dijalankan untuk proses pindah baris
    print ()
    
    
#contoh kasus 6 yang tidak diberi spasi setelah i
tinggi_segitiga_29= int (input ('Masukkan tinggi segitiga= '))
print ()

for i in range (1,tinggi_segitiga_29+1):
    for j in range (i):
        #tidak menggunakan spasi setelah i, angka yang tercetak akan berdempet
        print (i,end=' ',sep=' ')
    #dijalankan untuk proses pindah baris
    print ()

In [ ]:
#CONTOH 6 menggunakan cara lain
tinggi_segitiga_29= int (input ('Input tinggi segitiga=  '))
print ()

for i in range (tinggi_segitiga_29):
    for j in range (i+1):#mulai dari 0 sampai 1 angka sebelum angka yang diinput
                        #lalu ditambah dengan 1, hasilnya akan dikalika dengan bintang
                        #banyaknya bintang yang tercetak akan sebanyak i
        #berikan spasi tiap pencetakan tanda bintang
        print (' *',end='')
    print ()

In [ ]:
#contoh penerapan for loop

#range 'ulang=7' untuk menentukan seberapa banyak perulangan, yaitu 7 kali
ulang = 7
for i in range (ulang):  #variabel i befungsi menampung index, sedangkan range dari 0-7
                         #serta untuk merubah tipe data dari integer ke data string
    print (f"loop ke-{i}")
    
#saya mencoba membuat perulangan hanya sampai 2 kali
for i in range (ulang):
    ulang = 2   #ini berarti bahwa kita meminta nilai angka dari 0 sampai dengan 1 (sebelum 2)
     #hasil outputnya adalah index ke0 hingga 2, yaitu angka 0 dan 1 
    print (f"loop ke-{i}")
    
#namun pada saat saya menulis ulang=-7, output tidak muncul 
ulang=-7  #karena yg diminta adalah dari angka 0, memanggil angka dr kanan ke kira itu tidak bisa dilakukan
for i in range (ulang):
    print (f"loop ke-{i}")
    
#berikut adalah perbaikannya
ulang=7 #pemanggilan harus ke kanan nol
for i in range (ulang):
    #hasil output adalah angka 0 sampai 6
    print (f"loop ke-{i}")

In [ ]:
#CONTOH LAIN DARI FOR LOOP

#contoh dengan satu argumen:
for i in range (5):
    #menyisipkan koma di antara angka
    print (i,end=", ") 
    
for i in range (5):
    #bila tidak menyisipkan koma di antara angka
    print (i) #maka hasil print akan tertulis secara vertikal ke atas
    
    
#contoh dengan 2 argumen:
for i in range (-10,-8):
    #sisipkan koma 
    print (i, end=", ")
    
#contoh dengan 3 argumen 
for i in range (-1,5,2): #angka dimulai dari angka -1 hingga 5 namun 5 tidak ditulis, lalu diberikan lompatan sebanyak 2
    print (i, end=", ")

In [ ]:
#CONTOH FOR DENGAN KODE LEBIH KOMPLEKS


for i in [1,3,5,7,9,11]: #variabel i menambung indeks
    #tiap index akan dioperasikan sbb
    x=i**2 - (i-1)*(i+1)
    print (x, end=", ")
    
    
#contoh lain
for i in [2,3,4,5,6]:
    #tiap index yang ada akan dioperasikan sbb
    x=i+1*0
    print (x)

# Fungsi Range

In [ ]:
Memberikan bilangan-bilangan yang berurutan sesuai dengan argumen yang diberikan.

In [ ]:
#mencetak bilangan berurutan sesuai yang kita tulis, contohnya dari 0 sampai 6
angka=range (6)
print (angka)
print (range(0)) #bila batas akhirnya 0, maka range yang dihasilkan adalah 0 sampai 0
print (range (10)) #saya mencoba print range suatu angka random yaitu 10
print (range(10000)) #mencoba angka yang lebih besar yaitu 10000
print (range (-1)) #mencoba angka negatif, ternyata berfungsi
print (range(-3,-5)) #mencoba range dengan meletakkan 2 angka sebagai batas awal dan batas akhir
print (range(2,1,2)) #mencoba range dengan 3 angka
#setelah mencoba 3 angka, saya berinisiatif untuk mengambil langsung ke5angka
#hasil yang didapatkan adalah bahwa range hanya bisa 3 angka maksimal
print (range (1,4,2)) # mencoba range dengan 5 angka (gagal), sehingga hanya bisa 3 angka maksimal

In [6]:
angka=range (6) 
for x in angka:
    print (x)  #mencetak semua x yang berada dalam list angka yaitu 0-6
    
for isi in range (5,10): #mencetak angka yang ada dari 5-10
    print (isi)

for isi in range (5,10): #mencetak angka dari 5-10(10 tidak termasuk)
    print (isi)
    
for isi in range (0,10,2): ##buat barisan dari angka-angka 0 sampai dengan 10(10 tidak termasuk), namun dengan kenaikan 2
    print (isi)
    
for isi in range (15,10,-2): #buat barisan dari angka-angka 15 sampai dengan 10 (10 tidak termasuk), namun dengan kenaikan -2
    print (isi)

0
1
2
3
4
5
5
6
7
8
9
5
6
7
8
9
0
2
4
6
8
15
13
11

In [7]:
#print angka dalam range (0,100), angka 100 tidak termasuk
angka=range (100)
for x in angka:
    print (x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99