In [1]:
#percobaan perintah print 1
print ("Saya Vanessa")

Saya Vanessa

In [2]:
#percobaan perintah print 2
print ("Ini kelas algoritma &struktur data.")

Ini kelas algoritma &struktur data.

In [3]:
#percobaan perintah print 3
print ("Hello World!")

Hello World!

In [4]:
#percobaan perintah print namun menggunakan tanda petik satu
print ('Mahasiswa Matematika Udayana. ')

Mahasiswa Matematika Udayana.

In [5]:
#percobaan print dengan menambahkan beberapa variabel yang dideklarasikan
nama_depan="Angga"
nama_tengah=" "
nama_belakang="Saputra"
print (nama_depan+nama_tengah+nama_belakang)

Angga Saputra

In [6]:
# percobaan print dengan menambahkan beberapa nilai variabel dengan input data
nama_1= input ("Nama depan= ")
nama_2= input ("Nama tengah= ")
nama_3= input ("Nama belakang= ")
print ("Nama Anda= "+str (nama_1) +str (nama_2)+str (nama_3))

Nama depan= Vanessa
Nama tengah= Angelica
Nama belakang= Heriyanto
Nama Anda= Vanessa Angelica Heriyanto

In [7]:
#hai hai, hari ini adalah hari senin.
#makasih
#okeh (percobaan menggunakan hashtag sebagai komentar, mencoba membuat baris baru untuk komentarnya)
print ('saya iseng')

saya iseng

In [8]:
#mencoba menggunakan tanda petik satu di dalam kalimat yang bertanda petik dua pada perintah print
print ("'Mahasiswa' adalah sebutan untuk orang yang sedang menempuh pendidikan di perguruan tinggi")

'Mahasiswa' adalah sebutan untuk orang yang sedang menempuh pendidikan di perguruan tinggi

In [9]:
#mencoba menggunakan tanda petik dua di dalam kalimat yang bertanda petik satu pada perintah print
print ('Kenapa Anda melakukan hal "itu"?')

Kenapa Anda melakukan hal "itu"?

In [10]:
#mencoba menggunakan tanda petik dua sebanyak dua kali dalam kalimat yang sama, apakah akan error?
print ("Nama saya adalah "Vanessa"!!")
#hasilnya error, karena tanda petik dua tidak bisa digunakan lebih dari 1 kali di dalam kalimat yang sama

SyntaxError: invalid syntax (2391573042.py, line 2)

In [ ]:
#mencoba menggunakan tanda petik satu sebanyak 2 kali dalam kalimat yang sama, kemungkinan akan error seperti percobaan sebelumnya
print ('Nama saya adalah 'Vanessa'')
#percobaan ternyata error karena kesalahan penggunaan tanda petik

In [11]:
#mendeklarasikan beberapa nilai variabel lalu gunakan perintah print dan mengalikan nilai variabel tersebut untuk mendapatkan
#nilai hasil yang dicari
mahasiswa=42
uang_di_dompet=5000
print (mahasiswa)
print (uang_di_dompet)
print (mahasiswa*uang_di_dompet)

42
5000
210000

In [12]:
#mencoba menggunakan input data dan print, lalu digunakan untuk konsep modulo
a= input ("Masukkan nilai a = ")
b=input ("Masukkan nilai pembagi = ")
c= int (a) % int (b)
#menampilkan hasil sisa bagi dari nilai a dan b yang sudah diinput
print ("Sisa hasil "+a+" dibagi "+str (b)+" adalah "+str (c))

Masukkan nilai a = 5
Masukkan nilai pembagi = 2
Sisa hasil 5 dibagi 2 adalah 1

In [7]:
#menghitung luas lingkaran dari jari-jari yang sudah ditentukan
jari_jari=7
phi=3.14
luas=float (phi)*int (jari_jari)*int(jari_jari)
#menampilkan hasil luas lingkaran dengan perintah print
print("Luas lingkaran adalah "+str (luas)+" cm^2")

Luas lingkaran adalah 153.86 cm^2

In [13]:
#mencoba menggunakan tipe data int dan string, serta perintah print untuk pengaplikasian konversi dollar ke rupiah
dollar= input ("Masukkan nilai dolar yang akan dikonversikan ke rupiah =")
nilai_dollar=15375
nilai_rupiah=int (dollar)*int(nilai_dollar)

print ("Nilai rupiah= Rp"+str (nilai_rupiah))

Masukkan nilai dolar yang akan dikonversikan ke rupiah =5
Nilai rupiah= Rp76875

In [6]:
#menghitung luas persegi panjang
#data yang dibutuhkan didapatkan melalui input data
panjang= input ("Masukkan panjang= ")
lebar= input ("Masukkan lebar= ")
luas_persegi_panjang= int (panjang)*int (lebar)
#menampilkan hasil dengan print
print ("Luas persegi panjang adalah "+str (luas_persegi_panjang)+" cm^2")

Masukkan panjang= 3
Masukkan lebar= 3
Luas persegi panjang adalah 9 cm^2

In [8]:
#(GAGAL), cara ini tidak dapat digunakan untuk mencari luasnya, karena harus dideklarasikan terlebih dahulu di awal
panjang= input ("Masukkan panjang= ")
lebar= input ("Masukkan lebar= ")
#menampilkan hasil dengan print
print ("Luas persegi panjang adalah ",panjang*lebar)

Masukkan panjang= 5
Masukkan lebar= 2

TypeError: can't multiply sequence by non-int of type 'str'

In [15]:
#percobaan input data namun memisahkan datanya, mengecek apakah hasil printnya tetap bisa beroperasi (1)
nama=input ("Siapa nama anda?")

Siapa nama anda?vanessa

In [16]:
#percobaan input data namun memisahkan datanya, mengecek apakah hasil printnya tetap bisa beroperasi (2)
kegiatan = input("Apa nama kegiatan Anda sekarang?")

Apa nama kegiatan Anda sekarang?makan

In [17]:
#percobaan input data namun memisahkan datanya, mengecek apakah hasil printnya tetap bisa beroperasi (3)
#ternyata percobaan berhasil, data yang dideklarasikan di atas ini juga bisa dioperasikan, bahkan yg jauh sekalipun
print("Semangat "+ kegiatan +"nya yaa, "+ nama +" !!")

Semangat makannya yaa, vanessa !!

In [18]:
#contoh input yang semua datanya digabungkan menjadi satu lalu print
nama = input("Siapa nama Anda?")
kegiatan = input("Apa nama kegiatan Anda sekarang?")
print("Semangat "+ kegiatan +"nya yaa, "+ nama +" !!")

Siapa nama Anda?vanessa
Apa nama kegiatan Anda sekarang?buat tugas
Semangat buat tugasnya yaa, vanessa !!

In [19]:
#contoh lain dari penggunaan input data lalu perintah print
nama= input ("Nama Anda= ")
print (nama+", semangat ya!! <3333")

Nama Anda= vanessa
vanessa, semangat ya!! <3333

In [ ]:
#sebelumnya terdapat error di bagian print karena saya kurang teliti dan lupa menambahkan tanda +,
# saya jg br paham mengenai cara merubah tipe data string integer
dompet=input ("Isi dompet anda= ")
tabungan= input ("Isi tabungan anda= ")
total_uang= int (dompet)+int (tabungan)
print ("total uang anda adalah "+str (total_uang))

In [20]:
#menggunakan data string di deklarasi lalu gunakan perintah print
nama_mahasiswa="vanessa"
kelas_mahasiswa="A"
universitas="Udayana"
hasil_mahasiswa=("Mahasiswa kelas "+kelas_mahasiswa+" bernama "+nama_mahasiswa+" adalah mahasiswa Udayana angkatan 2022")
print (nama_mahasiswa)
print (kelas_mahasiswa)
print (universitas)
print (hasil_mahasiswa)

vanessa
A
Udayana
Mahasiswa kelas A bernama vanessa adalah mahasiswa Udayana angkatan 2022

In [21]:
#contoh input data lainnya, dimana salah satu datanya menginput suatu angka
nama_mahasiswa=input ("Siapa nama Anda?")
nilai_anda=input ("Nilai terakhir anda?")
print ("Hai, "+nama_mahasiswa+"! nilai Anda adalah sebesar "+nilai_anda)

Siapa nama Anda?vanessa
Nilai terakhir anda?100
Hai, vanessa! nilai Anda adalah sebesar 100

In [22]:
#ternyata variabel kosong yang sudah dideklarasikan di atas jangan dipakai kembali di selanjutnya, karena 
#nilai variabel yang akan terpanggil adalah nilai variabel yang sudah tertulis duluan di percobaan sebelumnya
#sehingga saya tidak menggunakan kata "nilai", melainkan saya menggunakan kata "skor" agar tidak menggunakan namavariabel kosong
#yang sama
skor=input ("Berapa skor anda?")
nim= input ("Masukkan NIM anda")
print ("Anda adalah mahasiswa dengan NIM "+nim+ " dengan skor "+skor )

Berapa skor anda?49
Masukkan NIM anda2208541029
Anda adalah mahasiswa dengan NIM 2208541029 dengan skor 49

In [23]:
#mencoba cara mencari tahu suatu tipe data
type (skor)

str

In [24]:
#mencoba cara mencari tahu suatu tipe data
type(nim)

str

In [29]:
type (uang_di_dompet)

int

In [30]:
bilangan_satu=input ("Masukkan bilangan pertama= ")
bilangan_kedua=input ("Masukkan bilangan kedua= ")
jumlah=float (bilangan_satu)+float (bilangan_kedua)
print ("Jumlah kedua bilangan adalah "+str (jumlah))

Masukkan bilangan pertama= 3
Masukkan bilangan kedua= 2
Jumlah kedua bilangan adalah 5.0

In [40]:
#mencoba menghitung luas segitiga 
alas=input=("Masukkan alas segitiga= ")
tinggi=input=("Masukkan tinggi segitiga= ")
#rumus dari luas segitiga:
luas=int(alas)*int(tinggi)/2
#maka hasilny akan ditampilkan sbg berikut
print ("Luas segitiga adalah "+str (luas))

#namun masih terdapat kesalahan yang saya blum dapat temukan

ValueError: invalid literal for int() with base 10: 'Masukkan alas segitiga= '

In [32]:
#contoh dari formatted string
nama="Vanessa"
pekerjaan= "guru"
institusi= "SD Pertiwi"
print (nama+" adalah seorang "+pekerjaan+" di "+institusi+".")

Vanessa adalah seorang guru di SD Pertiwi.

In [33]:
#formatted string
print (f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Vanessa adalah seorang guru di SD Pertiwi.

In [34]:
#formatted string
print (f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Vanessa adalah seorang guru di SD Pertiwi.

In [35]:
#percobaan lain dari formatted string
nama_pelanggan="amelie"
kopi=2
susu=5
print (f"{ nama_pelanggan } memesan { kopi } kopi dan { susu } gelas susu")

amelie memesan 2 kopi dan 5 gelas susu