# string index

In [13]:
#PERCOBAAN STRING INDEX 1


#jika angka yg dipanggil merupakan [0:4], maka karakter huruf yang keempat tidak ikut ditulis
BUDI= 'SAYA MAKAN NASI'
print (BUDI [0:4])

#pemanggilan karakter harus sesuai persis dengan yang dideklarasikan, dari kapitalnya sekalipun
#agar tidak terjadi error
budi='hai semua, salam kenal'
print (budi [0:4])

#percobaan menggunakan tanda petik 2 
Budi="saya makan nasi"
print (Budi [1:3])

#percobaan string index dimana -1 merupakan huruf terakhir "I" di kata "NASI"
#pemanggilan harus dari kiri ke kanan, dimana penulisan yang benar adalah [-5:1]
print (BUDI [-1:-5])
#hasil tidak ada

#penulisan yang benar
#karena [-5:-1], maka -1nya tidak terpanggil, sehingga menjadi "NAS"
print (BUDI [-5:-1])

SAYA
hai
ay

 NAS

In [19]:
#PERCOBAAN STRING INDEX 2

kelas= "ini kelas algoritma"
print (kelas[0:3])
print (kelas [0:-1])
print (kelas[5:-1])
print (kelas [0:19])
print (kelas[4:4])
print (kelas[4:5])
print (kelas[-19:-1])
print (kelas [-20:-1])

ini
ini kelas algoritm
ini kelas algoritm
ini kelas algoritma

k
ini kelas algoritm
ini kelas algoritm

In [40]:
kelas= "ini kelas algoritma"
#yang dicetak adalah dari karakter ke 2 sampai ke-1 namun dengan jarak 3 tiap karakternya
print (kelas [2:-1:3])

#yang dicetak adalah dari karakter ke 2 sampai ke-1 namun dengan jarak 1 tiap karakternya
print (kelas[2:-1:1])

#tidak menulis karakter awal berarti mencetak kata dari awal kalimat sampai karakter akhir yang ditulis
print (kelas[:-3])

#tidak menulis karakter akhir berarti mencetak kata dari karakter awal yang ditulis sampe akhir
print (kelas[1:])

#ternyata tidak menulis karakter awal dan akhir dapat mencetak seluruh kata yang ada
print (kelas[:])

#percobaan memanggil satu karakter sahaja
print (kelas[2])

#penjumlahan antara karakter kedua dan keempat, saya kira akan menampilkan karakter kedua dan keempat
#namun yang ditampilkan adalah karakter ke 6, yaitu hasil penjumlahan dari 2 dan 4
print (kelas [2+4])

ieslrm
i kelas algoritm
ini kelas algori
ni kelas algoritma
ini kelas algoritma
i
l

In [5]:
#PERCOBAAN STRING INDEX 3
#mendeklarasikan suatu kalimat melalui variabel x


x='Hello Bali!'

#print karakter kedua
print (x[2])

#print karakter kedua dan pertama
print (x[2]+x[1])

#print karakter kedua sampai dengan karakter keempat
print (x[2]+x[1]+x[7]+x[3])

#print karakter kelima yang merupakan spasi
print(x[5])

#print seluruh kalimat dari awal yaitu karakter ke0 sampai akhir karakter 11
print (x[0:11])

l
le
leal

Hello Bali!

# STRING METHODS

In [45]:
#PERCOBAAN STRING METHODS 1

#menghitung karakter yang ada di kalimat
judul= 'Bali Surga Dunia'
print (len (judul))

#untuk membuat semua huruf pada setiap kata menjadi huruf kapital
print (judul.upper())

#untuk membuat semua huruf pada setiap kata menjadi huruf kecil
print (judul.lower ())

#menemukan dimana suatu kata terdapat di kalimat (dimulai dari nol)
print (judul.find ('Surga'))
print (judul.find ('Bali'))
print (judul.find ('bali'))

#mengganti suatu kata dengan kata lain
print (judul.replace ('Bali','Jogjakarta'))
print (judul.replace ('bali','Indonesia'))
print (judul.replace('nyc','Bali'))
print (judul.replace ("Bali","Australia serta Los Angeles"))

#menampilkan apakah kata berikut terdapat pada kalimat
print ('Surga' in judul)
print ('nyc' in judul)

#untuk mengubah karakter pertama pada kata pertama menjadi huruf besar
print (judul.capitalize())

#untuk mengubah karakter pertama pada setiap kata menjadi huruf besar
print (judul.title())

#untuk mengubah karakter huruf besar menjadi huruf kecil dan sebaliknya 
print (judul.swapcase())

16
BALI SURGA DUNIA
bali surga dunia
5
0
-1
Jogjakarta Surga Dunia
Bali Surga Dunia
Bali Surga Dunia
Australia serta Los Angeles Surga Dunia
True
False
Bali surga dunia
Bali Surga Dunia
bALI sURGA dUNIA

# operasi matematika phyton

In [49]:
#Asumsikan:
x=3
y=2

#operasi penjumlahan
print (x+y)
print (2+3)
print (x+2)

#operasi penjumlahan dan perkalian
print (2+3*2)

#operasi pengurangan
print (x-y)
print (x-x-y)

#operasi pengurangan dan pengalian
print (2-3+x*y)

#operasi campuran antara kali, tambah dan kurang
print (x+y+y-2*y-x)

#operasi pembulatan pembagian
print (2//3)
print (x//y)
print (x*y//y**x)


#operasi modulo
print (7%3)
print (x%y)
print (x+y%x-y)

#operasi modulo dan perkalian
print (7%3*2)

#operasi pangkat
print(3**3)
print (x**y)
print (y**x)

x+=1
print (x)
x-=3
print (x)
x*=1
x/=3
x**=0
x%=8

5
5
5
8
1
-2
5
0
0
1
0
1
1
3
2
27
4
1

# OPERATOR PERBANDINGAN DI PHYTON

In [13]:
#LEBIH BESAR (>)

#mencoba print hasil dari x dengan operasi lebih besar
x= 3>2
print (x)
x=2>3
print (x)
#mencoba menjumlahkan angka 
x=3>1+1
print (x)
x=2+7>9
print (x)
x=1+4>8-2
print (x)
#mencoba mengurangkan angka 
x=5-4>9
print (x)
x=3<-2-3
print (x)
x=23-2>4-15
print (x)
#mencoba mencampur beberapa operasi di kedua ruas
x= 3+5-1*5>2/1*5+9
print (x)
x= 1+5^2>32
print (x)
x=3>3*1
print (x)
x= 7//2 >2**2
print (x)

True
False
True
False
False
False
False
True
False
False
False
False

In [16]:
#LEBIH KECIL (<)

#print variabel yang sebelumnya, hasil yang muncul adalah hasil x lainnya
y=2<3
print (y)
#menggunakan variabel baru yaitu y
z=8<2
print (z)
#mencoba menjumlahkan angka 
x=2<7+1
print (x)
x=2+4<-1
print (x)
x=-7+4<0-2
print (x)
#mencoba mengurangkan angka di salah satu ruas 
x=-2<1-1
print (x)
x=5-4<9-5
print (x)
x=17-20<5-14
print (x)
#mencoba mencampur beberapa operasi di kedua ruas
x= 9+5-10*3<2/1*3+2
print (x)
x= 1+5^-2<1
print (x)
x=1<-4*3
print (x)
x= 7//2 >2%2
print (x)

True
False
True
False
True
True
True
False
True
True
False
True

In [17]:
#LEBIH BESAR SAMA DENGAN (>=)
x= 2>=3
print (x)
x=2>=2
print (x)
x=2//3>=2
print (x)
x= 2**2>=0%5
print (x)

#LEBIH KECIL SAMA DENGAN(<=)
x= 2<=3
print (x)
x= 7/2<=6%2/1
print (x)
x=5<=7//2
print (x)
x= 3<2**45
print (x)

#SAMA DENGAN (==)
x=4==4
print (x)
x=2==3
print (x)
x= 45%7==3/1
print (x)
x=99,9==99,9999999999999
print (x)

#TIDAK SAMA DENGAN (!=)
x=2!=1
print (x)
x=5!=8
print (x)
x= 3!=5-2
print (x)
x= 3*7/3!=2**3
print (x)

False
True
False
True
True
False
False
True
True
False
True
(99, False, 9999999999999)
True
True
False
True

# OPERATOR LOGIKA DI PHYTON

In [18]:
#contoh 1:
manggis=10
mangga=15
print (manggis>8 and mangga<20)

print (manggis<8 and mangga<20)

print (manggis<8 and mangga>20)

print (manggis>8 and mangga>20)

True
False
False
False

In [37]:
#contoh 2:
hasil= (5<=5)and (2+3==6)
print (hasil)
jurusan= ("teknik informasi"=="teknologi informasi")
print (jurusan)
#menggunakan not sebagai kasus
hasil_2=not (10<10)
print (hasil_2)
hasil=not (2>=2)
print (hasil)
#menggabungkan 2 operator yaitu and dan or
hasil=("duniaiinformasi"=="duniainformasi") and (10<=8)or (1!=1)
print (hasil)

False
False
True
False
False

# OPERATOR IF DI PHYTON

In [22]:
#contoh 1, kasus menggunakan operator if
nilai= float (input('Nilai anda berapa?'))
if nilai>=80:
    print ("Anda mendapatkan nilai A")
    print ("Bagus sekali, selamat!!")
if nilai<80 and nilai>=70:
    print ("Anda mendapatkan nilai B")
    print ("Tingkatkan prestasimu!!")
if nilai<70 and nilai>=60:
    print ("Anda mendapatkan nilai C")
    print ("Lain kali harus lebih baik!")
if nilai <60 and nilai>=50:
    print ("Anda mendaptkan nilai D")
    print ("Jangan patah semangat, sampai jumpa tahun depan")
if nilai<50:
    print ("Anda mendapatkan nilai E")
    print ("Jangan patah semangat, sampai jumpa tahun depan")

Nilai anda berapa?99
Anda mendapatkan nilai A
Bagus sekali, selamat!!

In [20]:
#cara lain (menggunakan if dan elif, serta else)
nilai=float(input("Nilai Anda berapa?"))
if nilai >=80:
    print ("Anda mendapatkan nilai A")
    print ("Bagus sekali, selamat!!")
elif nilai>=70:
    print ("Anda mendapatkan nilai B")
    print ("Tingkatkan prestasimu!")
elif nilai>=60:
    print ("Anda mendapatkan nilai C")
    print ("Lain kali harus lebih baik!")
elif nilai >=50:
    print ("Anda mendapatkan nilai D")
    print ("Ulang lagi tahun depan")
else:
    print ("Anda mendapatkan nilai E")
    print ("Sampai jumpa tahun depan!")

Nilai Anda berapa?44
Anda mendapatkan nilai E
Sampai jumpa tahun depan!

In [25]:
#contoh kasus 2
#program yang merubah tinggi badan seseorang dari inci ke cm arau cm ke inchi

#menggunakan float karena tinggi badan bisa berupa desimal, contohnya 147,8 cm atau 70,334 inci
tinggi=float(input("Berapakah tinggi anda?"))
cm_atau_inci=input("Convert dari cm atau inci?")

if cm_atau_inci.upper()=='CM':
    tinggi=tinggi*0.393701
    print("Tinggi anda adalah= "+str (tinggi)+" inci")
elif cm_atau_inci.upper()=='INCI':
    tinggi=tinggi/0.393701
    print ("Tinggi anda adalah "+str (tinggi)+" cm")

Berapakah tinggi anda?178
Convert dari cm atau inci?cm
Tinggi anda adalah= 70.078778 inci

In [ ]:
#contoh kasus 3
#menggunakan if dan elif
angka=5
if angka>0:
    print (angka, "adalah bilangan positif")
elif angka=0:
    print (angka, "bukan bilangan positif maupun negatif")
elif angka<0:
    print (angka,"adalah bilangan negatif")

In [29]:
#contoh kasus 4
#menggunakan if, elif, dan else
umur =int(input("Masukkan umur anda= "))
    
if umur <=5:
    print ("Anda adalah balita")
elif umur<=12:
    print ("Anda adalah anak-anak")
elif umur<=17:
    print ("Anda adalah remaja")
elif umur<=30:
    print ("Anda adalah muda")
elif umur<=60:
    print ("Anda adalah dewasa")
else:
    print ("Anda adalah usia indah")

Masukkan umur anda= 45
Anda adalah dewasa